@model IEnumerable<MVCCRUDJG2.Models.Clientes>
<h1>Listado de Clientes</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Nuevo</a>
    <a href="#" id="btnSalir" class="btn btn-warning">Salir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idcliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Idcliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoCliente)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Idcliente }, new { @class = "btn btn-primary", @role = "button" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Idcliente }, new { @class = "btn btn-danger", @role = "button" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById('btnSalir').addEventListener('click', function() {
            if (confirm('¿Está seguro que desea salir?')) {
                window.close();
            }
        });
    </script>
}